// Definición de los botones
// --------------------------------------------------
.btn {
	border-radius: 3px;
	position: relative;
	color: $gris-oscuro;
	background-color: $blanco;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	height: 65px;
	font-size: 1.1em;
	&.primero {
		position: relative;
		left: 0;
	}
	&.segundo {
		position: relative;
		margin-left: 40px;
	}
	&.tercero {
		position: absolute;
		right: 70px;
	}

}

//BOTONES DEL FOOTER //
.btn-salir {
	width: 135px;
	text-transform: uppercase;
	font-size: 1em;
	transform: translateY(27%);
	span > i {
		color: $rojo;
		margin: 0 10px 0 20px;
	}
}

.btn-home {
	width: 195px;
	text-transform: uppercase;
	font-size: 1em;
	transform: translateY(27%);
	span {
		color: $verde-comafi;
		margin: 0 10px 0 23px;
	}
}

.btn-volver {
	width: 265px;
	font-size: 1em;
	text-transform: uppercase;
	transform: translateY(27%);
	span {
		font-size: 0.6em;
		color: $gris-oscuro;
		margin: 0 13px 0 20px;
	}
}

.btn-anterior {
	width: 180px;
	font-size: 1em;
	transform: translateY(27%);
	span {
		color: $gris-oscuro;
		margin: 0 10px 0 20px;
	}
}

.btn-siguiente {
	width: 180px;
	font-size: 1em;
	line-height: 1em;
	text-transform: uppercase;
	padding-left: 15px;
	transform: translateY(27%);
	span {
		color: $gris-oscuro;
		margin: 0 10px 5px 20px;
		i {
			font-size: 0.7em;
		}
	}
}

.btn-ingresar {
	width: 175px;
	font-size: 1em;
	text-transform: uppercase;
	padding-left: 15px;
	transform: translateY(27%);
	span {
		color: $gris-oscuro;
		margin: 0 0 0 15px;
	}
}

.btn-ingresar-billetes {
	width: 285px;
	font-size: 1em;
	text-transform: uppercase;
	padding-left: 15px;
	transform: translateY(27%);
	span {
		color: $gris-oscuro;
		margin: 0 0 0 15px;
	}
}

.btn-cancelar {
	width: 185px;
	font-size: 1em;
	text-transform: uppercase;
	padding-left: 15px;
	color: $rojo;
	transform: translateY(27%);
	span {
		color: $rojo;
		margin: 0 10px 0 10px;
	}
}

.btn-confirmar {
	width: 200px;
	font-size: 1em;
	text-transform: uppercase;
	padding-left: 15px;
	color: $verde;
	transform: translateY(27%);
	span {
		color: $verde;
		margin: 0 10px 0 0;
	}
}

// BOTONES DEL BODY //
.btn-otra-cuenta {
	top: 15px;
	left: 10px;
	width: 280px;
	justify-content: space-evenly;
	-webkit-justify-content: space-evenly;
	border: $verde-comafi 1px solid;
	color: $verde-comafi;
	height: 55px;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 21px;
}

.btn-iniciar-sesion {
	background-color: $verde-comafi;
	color: white;
	width: 220px;
	font-size: 24px;
	justify-content: center;
	-webkit-justify-content: center;
	margin: 0 auto;
	text-transform: uppercase;
}

.btn-cuenta-propia {
	width: 275px;
	height: 80px;
	border: $gris 1px solid;
	display: inline-flex;
	display: -webkit-inline-flex;
	margin: 9px 10px 10px 10px;
	line-height: 0.9;
	p {
		margin: 5px 0 0 20px;
		letter-spacing: -1px;
		b {
			font-size: 20px;
		}
		span {
			font-size: 17px;
		}
	}
	&.seleccionado {
		background-color: $verde-comafi;
		color: $blanco;
	}
}

.btn-mas-billetes {
	top: 25px;
	left: 65px;
	font-size: 22px;
	letter-spacing: -1px;
	width: 255px;
	height: 55px;
	border: $gris 1px solid;
	display: inline-flex;
	display: -webkit-inline-flex;
	margin: 10px;
	i {
		margin: 0 15px 0 20px;
	}
}

.btn-modificar {
	top: 150px;
	left: 55px;
	font-size: 22px;
	letter-spacing: -1px;
	width: 160px;
	height: 55px;
	border: $gris 1px solid;
	display: inline-flex;
	display: -webkit-inline-flex;
	margin: 10px;
	i {
		margin: 0 15px 0 15px;
	}
}




// BOTONES DEL MENU //
.btn-menu {
	padding: 0;
	width: 269px;
	height: 210px;
	margin: 18px;
	display: initial;
	color: #9D9FA2;
	& > img {
		width: 90px;
		margin: 30px 88px 0px 88px;
	}
	& > p {
		font-size: 24px;
		margin: 20px 0px 0px 0px;
	}
	&.pagos {
		img {
			margin: 32px 88px 0px 88px;
		}
		p {
			margin: 15px 0 0 0;
		}
	}
	&.claves {
		img {
			width: 100px;
			margin: 32px 85px 5px 85px;
		}
		p {
			margin: 11px 0px 0px 0px;
		}
	}
	&.transferencias {
		img {
			width: 110px;
			margin: 33px 80px 5px 80px;
		}
		p {
			margin: 10px 0px 0px 0px;
		}
	}
}

// BOTONES DEL SUBMENU //
.btn-submenu {
	justify-content: center;
	-webkit-justify-content: center;
	text-transform: uppercase;
	width: 325px;
	height: 80px;
	margin: 8px 0px 16px 0px;
	background-color: $verde-comafi;
}

// BOTONES DE IMPORTES SUGERIDOS //
.btn-importe {
	width: 175px;
	margin: 12px;
	color: $blanco;
	background-color: $verde-comafi;
}

// BOTONES DEL TECLADO //
.btn-numerico {
	font-size: 32px;
	width: 110px;
	margin: 10px;
	color: $blanco;
	background-color: $gris;
	&:last-of-type {
		width: 390px;
	}
}

.btn-teclado-aplicar {
	width: 390px;
	margin: 10px;
	color: #fff;
	background-color: #589C2A;
	justify-content: center;
	-webkit-justify-content: center;
	text-transform: uppercase;
}
