// Definición de los botones
// --------------------------------------------------
.btn {
	border-radius: 3px;
	position: relative;
	color: $gris-oscuro;
	background-color: $blanco;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	padding: 0 5px;
	font-size: 1.1em;
	// p {
	// 	margin: 0;
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
	// }
}

.btn-salir {
	width: 120px;
	position: absolute;
	left: 50px;
	span > i {
		color: $rojo;
	}
}

.btn-home {
	width: 240px;
	position: absolute;
	left: 215px;
	span > i {
		color: $verde-comafi;
	}
}

.btn-anterior {
	width: 180px;
	position: absolute;
	right: 275px;
	span > i {
		color: $gris-oscuro;
	}
}

.btn-siguiente {
	width: 180px;
	position: absolute;
	right: 50px;
	span > i {
		color: $gris-oscuro;
	}
}

.btn-menu {
	padding: 0;	
	width: 288px;
	height: 230px;
	margin: 0 15px 0 15px;
	display: grid;
	color: $gris;
	& > span {
		font-size: 3em;
		text-align: center;
    color: $verde-comafi;
	}
}

.btn-importe {
	width: 175px;
	margin: 12px;
	color: $blanco;
	background-color: $verde-comafi;
}