
// Definición de elementos del formulario
// --------------------------------------------------
.inputs {
	display: inline;
  position: relative;
  height: 70px;
	&.tipoDoc {
		.flecha {
      background: transparent;
      position: relative;
      left: 180px;
      font-size: 12px;
      pointer-events: none;
      color: $gris-oscuro;
      z-index: 2;
		}
	}
	&.tipoCta {
		.flecha {
			background: transparent;
			position: absolute;
			//bottom: 20px;
			left: 330px;
      top: 5px;
			font-size: 12px;
			pointer-events: none;
			color: $gris-oscuro;
		}
	}
  &.numCta {
    a.btn {
      position: absolute;
      bottom: -12px;
      left: 220px;
      height: 54px;
      width: 60px;
      background: $verde-comafi;
      color: $blanco;
      border: 0;
      justify-content: center;
      -webkit-justify-content: center;
      i {
        font-size: 40px;
      }
    }
  }
	&.numDoc {
  	a.btn {
      position: absolute;
      bottom: -13px;
      left: 260px;
      height: 54px;
      width: 75px;
      background: $verde-comafi;
      color: $blanco;
      border: 0;
      justify-content: center;
      -webkit-justify-content: center;
      i {
        font-size: 40px;
      }
    }
	}
  &.numCbu {
    a.btn {
      position: relative;
      bottom: 62px;
      left: 610px;
      height: 54px;
      width: 60px;
      background: $verde-comafi;
      color: $blanco;
      border: 0;
      justify-content: center;
      -webkit-justify-content: center;
      i {
        font-size: 40px;
      }
    }
  }
	//input CLAVE COMAFI
	&.clave {
		margin: 0px 4px 0 8px;
		a.btn {
			position: relative;
			bottom: 60px;
			left: 205px;
			height: 50px;
			width: 70px;
			background: $gris-claro;
			color: $blanco;
			border: 0;
			-webkit-appearance: none;
			span.typcn-backspace:before {
				position: relative;
				left: 15px;
				bottom: 4px;
				font-size: 40px;
				color: $blanco;
			}
		}
	}
  &.empresaTarjeta {
    .flecha {
      background: transparent;
      position: absolute;
      //bottom: 20px;
      left: 235px;
      top: 5px;
      font-size: 12px;
      pointer-events: none;
      color: $gris-oscuro;
    }
  }
  &.ctaRes {
    a.btn {
      position: absolute;
      bottom: -12px;
      left: 330px;
      height: 54px;
      width: 60px;
      background: $verde-comafi;
      color: $blanco;
      border: 0;
      justify-content: center;
      -webkit-justify-content: center;
      i {
        font-size: 40px;
      }
    }
  }
	select {
    padding-left: 20px;
    outline: none;
    -webkit-appearance: none;
    display: inline;
    // padding: 1em 4em 1em 1em;
    margin: 0;
    transition: border-color 0.2s;
    border: 2px solid $gris-oscuro;
    border-radius: 5px;
    background: transparent;
    color: $gris;
    & * {
      padding: 50px;
    }
		&.tipoDoc {
      position: relative;
      right: 20px;
      width: 190px;
      height: 70px;
      &:focus {
        border-color: #6B8012;
      }
		}
		&.tipoCta {
			height: 70px;
			width: 287px;
			&:focus {
				border-color: $verde-comafi;
			}
		}
	}
	input {
		outline: none;
		display: inline;
		// padding: 1em;
		padding-left: 20px;
		margin: 0;
		transition: border-color 0.2s;
		border: 2px solid $gris-oscuro;
		border-radius: 5px;
		background: transparent;
		color: $gris;
		&.numDoc {
			width: 320px;
			height: 64px;
			&::-webkit-input-placeholder {
				color: $gris;
			}
      &:focus {
        border-color: #6B8012;
      }
		}
		&.clave {
			width: 260px;
			height: 64px;
			font-size: 52px;
			color: $gris-oscuro;
			&::-webkit-input-placeholder {
				position: relative;
        left: -5px;
				bottom: 10px;
				color: $gris;
				font-size: 26px;
			}
			&:focus {
				border-color: $verde-comafi;
				&~a.btn {
					background: $verde-comafi;
					color: $blanco;
				}
			}
		}
		&.numCbu {
			width: 645px;
			height: 64px;
			&:focus {
				border-color: $verde-comafi;
			}
		}
		&.numCta {
			width: 265px;
			height: 64px;
			&:focus {
				border-color: $verde-comafi;
			}
		}
    &.ctaRes {
      width: 375px;
      height: 64px;
      &:focus {
        border-color: $verde-comafi;
      }
    }
		&.modal-teclado {
			margin-top: 25px;
			width: 500px;
			height: 64px;
			font-size: 30px;
			color: $gris-oscuro;
			border-color: $verde-comafi;
			&~.btn {
				width: 74px;
				height: 58px;
				position: absolute;
				top: -17px;
				right: 6px;
				border-radius: 5px;
				color: $blanco;
				background-color: $verde-comafi;
				display: flex;
        display: -webkit-flex;
				align-items: center;
        -webkit-align-items: center;
				font-size: 1.1em;
				i.material-icons {
					font-size: 40px;
					position: relative;
					left: 15px;
				}
			}
		}
	}
	label {
		color: $gris;
	}
}


input[type=radio] {
  position: absolute;
  visibility: hidden;
}

label {
  padding-left: 5px;
  top: 20px;
  display: inline-block;
  position: relative;
  font-weight: 300;
  font-size: 1.2em;
  margin: 5px;
  // height: 30px;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  span i {
    font-size: 21px;
  }
  &.radio {
    padding-left: 40px;
    top: 15px;
    left: 5px;
  }
}

.check {
  display: inline-block;
  position: absolute;
  border: 5px solid $gris-oscuro;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 20px;
  //bottom: 40px;
  left: 9px;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
  &.cta {
    top: 130px;
    left: 180px;
  }
  &.cbu {
    top: 290px;
    left: 180px;
  }
}

.check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid $verde-comafi;
}

input[type=radio]:checked ~ .check::before {
  background: $verde-comafi;
}



input[type=radio]:checked + label {
  color: $verde-comafi;
}



//SELECT NUEVO //
.cuenta {
  ul.select {
    background: $verde-comafi-claro;
    padding-left: 0;
    height: auto;
    max-height: 245px;
    overflow: scroll;
    width: 360px;
    border: 1px $verde-comafi solid;
    border-radius: 3px;
    margin: 0 0 0 25px;
    position: absolute;
    top: 220px;
    left: 420px;
    li {
      position: relative;
      height: 50px;
      padding: 5px 10px;
      z-index: 2;
      list-style: none;
      &:not(.init) {
        padding: 20px 0 0 10px;
        position: relative;
        float: left;
        color: $blanco;
        width: -webkit-fill-available;
        display: none;
        background: $verde-comafi-claro;
        border: 1px $verde-comafi-claro solid;
      }
      &:not(.init):hover,
      &.selected:not(.init) {
        background: $verde-comafi;
      }
      &.init {
        color: $blanco;
        width: -webkit-fill-available;
        display: inline-flex;
        display: -webkit-inline-flex;
        cursor: pointer;
        height: 50px;
        align-items: center;
        -webkit-align-items: center;
      }
    }
  }
}

.tipoDoc {
  ul.select {
    padding-left: 0;
    min-height: 67px;
    max-height: 361px;
    overflow: auto;
    width: 200px;
    border: 2px solid $gris-oscuro;
    border-radius: 5px;
    margin: 0;
    position: relative;
    top: -3px;
    left: -20px;
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
    }
    li {
      position: relative;
      height: 40px;
      padding: 5px 10px;
      z-index: 2;
      list-style: none;
      &:not(.init) {
        padding: 15px 0 5px 10px;
        position: relative;
        //float: left;
        color: $gris;
        width: 200px;
        display: none;
        background: $blanco;
        border: 0.1px solid $blanco;
      }
      &:not(.init):hover,
      &.selected:not(.init) {
        background: $gris-mas-claro;
      }
      &.init {
        color: $gris;
        width: 200px;
        display: inline-flex;
        display: -webkit-inline-flex;
        cursor: pointer;
        height: 50px;
        align-items: center;
        -webkit-align-items: center;
      }
    }
  }
}

.tipoCta {
  ul.select {
    padding-left: 0;
    min-height: 66px;
    max-height: 361px;
    overflow: auto;
    width: 365px;
    border: 2px solid $gris-oscuro;
    border-radius: 5px;
    margin: 0;
    position: relative;
    top: -3px;
    left: 0px;
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
    }
    li {
      position: relative;
      height: 40px;
      padding: 5px 10px;
      z-index: 2;
      list-style: none;
      &:not(.init) {
        padding: 15px 0 5px 10px;
        position: relative;
        //float: left;
        color: $gris;
        width: 365px;
        display: none;
        background: $blanco;
        border: 0.1px solid $blanco;
      }
      &:not(.init):hover,
      &.selected:not(.init) {
        background: $gris-mas-claro;
      }
      &.init {
        color: $gris;
        width: 365px;
        display: inline-flex;
        display: -webkit-inline-flex;
        cursor: pointer;
        height: 50px;
        align-items: center;
        -webkit-align-items: center;
      }
    }
  }
}

.empresaTarjeta {
  ul.select {
    z-index: 9;
    padding-left: 0;
    min-height: 66px;
    max-height: 241px;
    overflow: auto;
    width: 270px;
    border: 2px solid $gris-oscuro;
    border-radius: 5px;
    margin: 0;
    position: relative;
    top: -3px;
    left: 0px;
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
    }
    li {
      position: relative;
      height: 40px;
      padding: 5px 10px;
      z-index: 2;
      list-style: none;
      &:not(.init) {
        padding: 15px 0 5px 10px;
        position: relative;
        //float: left;
        color: $gris;
        width: 270px;
        display: none;
        background: $blanco;
        border: 0.1px solid $blanco;
      }
      &:not(.init):hover,
      &.selected:not(.init) {
        background: $gris-mas-claro;
      }
      &.init {
        color: $gris;
        width: 270px;
        display: inline-flex;
        display: -webkit-inline-flex;
        cursor: pointer;
        height: 50px;
        align-items: center;
        -webkit-align-items: center;
      }
    }
  }
}






/* Estilos de forms de materialize, para salir del default del browser. */
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}


/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

