.container {
	height: 768px;
	width: 1024px;
	margin: 0 auto;
}

.flex {
	display: flex;
	display: -webkit-flex;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.absolute {
	position: absolute !important;
}

// Position Absolute
@for $posi from 0 through 100 {
  // Del 0 al 50
  .top-#{$posi} {top: #{$posi}px !important;}
  .bottom-#{$posi} {bottom: #{$posi}px !important;}
  .left-#{$posi} {left: #{$posi}px !important;}
  .right-#{$posi} {right: #{$posi}px !important;}
}
	// Del 100 al 200 de a 50 cada uno
// @for $posi-cincuenta from 100 through 200 {
//     @if $posi-cincuenta % 50 == 0 {
//         .top-#{$posi-cincuenta} {top: #{$posi-cincuenta}px !important;}
//         .bottom-#{$posi-cincuenta} {bottom: #{$posi-cincuenta}px !important;}
//         .left-#{$posi-cincuenta} {left: #{$posi-cincuenta}px !important;}
//         .right-#{$posi-cincuenta} {right: #{$posi-cincuenta}px !important;}
//     }
// }

@for $posi-neg from 0 through 100 {
  // Posi-negativos
  .top-neg-#{$posi-neg} {top: -#{$posi-neg}px !important;}
  .bottom-neg-#{$posi-neg} {bottom: -#{$posi-neg}px !important;}
  .left-neg-#{$posi-neg} {left: -#{$posi-neg}px !important;}
  .right-neg-#{$posi-neg} {right: -#{$posi-neg}px !important;}
}
//Del 100 al 200 de a 50 cada uno
// @for $posi-cincuenta-neg from 100 through 200 {
//     @if $posi-cincuenta-neg % 50 == 0 {
//         .top-neg-#{$posi-cincuenta-neg} {top: -#{$posi-cincuenta-neg}px !important;}
//         .bottom-neg-#{$posi-cincuenta-neg} {bottom: -#{$posi-cincuenta-neg}px !important;}
//         .left-neg-#{$posi-cincuenta-neg} {left: -#{$posi-cincuenta-neg}px !important;}
//         .right-neg-#{$posi-cincuenta-neg} {right: -#{$posi-cincuenta-neg}px !important;}
//     }
// }

a {text-decoration: none;}

header {
	position: relative;
	top: 0;
	height: 82px;
	background-color: $blanco;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
	& > img {
		width: 305px;
		margin-left: 35px;
	}
	& > .logueado {
		justify-content: flex-end;
		-webkit-justify-content: flex-end;
		position: relative;
		right: 20px;
		width: 600px;
		height: 85px;
		color: $gris-oscuro;
		div:first-of-type {
			position: relative;
			//top: 20px;
			right: 15px;
			float: right;
			.nombre-logueado {
				margin: 0;
				text-transform: uppercase;
				font-family: "Lato-Bold";
				text-align: right;
				color: $verde-comafi-claro;
			}
			.conexion, .vto-clave {
				margin: 0;
				font-size: 13px;
				text-align: right;
				color: $gris-mas-oscuro;
			}
		}
		div:last-of-type {
			position: relative;
			//top: 20px;
			right: 7px;
			float: right;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			background-color: $gris-claro;
			i.material-icons {
				position: relative;
				top: 10px;
				left: 10px;
				font-size: 40px;
			}
		}
	}
}

main {
	position: relative;
	top: 0;
	height: 585px;
	background-color: $verde-comafi-claro;
	section {
		&.encabezado {
			position: absolute;
			display: flex;
			display: -webkit-flex;
			justify-content: center;
			-webkit-justify-content: center;
			align-items: center;
			-webkit-align-items: center;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			top: 0;
			height: 115px;
			width: 100%;
			.breadcrumb {
				margin-top: 18px;
				width: 100%;
				display: flex;
				display: -webkit-flex;
				align-items: center;
				-webkit-align-items: center;
				padding-left: 75px;
				img {
					width: 20px;
				}
				p {
					margin: 0;
					font-size: 15px;
					align-items: center;
					-webkit-align-items: center;
					display: inline;
					letter-spacing: 0.8px;
					text-transform: uppercase;
					span:first-of-type {
						color: $verde-comafi;
						font-size: 16px;
						margin-left: 7px;
						margin-right: 7px;
						letter-spacing: 0px;
					}
					span {
						font-size: 16px;
						font-weight: bold;
					}
				}
			}
		}
		&.menu {
			position: absolute;
			display: flex;
			display: -webkit-flex;
			justify-content: center;
			-webkit-justify-content: center;
			align-items: center;
			-webkit-align-items: center;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			width: 934px;
			height: 495px;
			padding: 53px 45px 38px 45px;
		}
		&.submenu {
			position: absolute;
			top: 135px;
			width: 824px;
			height: 100%;
			padding: 0 100px;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			& > p.encabezado {
				font-size: 26px;
				position: absolute;
				top: -16px;
				right: 314px;
				font-family: $font-regular;
				& > img.deposito {
					width: 72px;
					position: relative;
					top: 0px;
					right: 27px;
				}
			}
		}
		&.submenu-deposito,
		&.submenu-claves,
		&.submenu-pagos {
			background-color: $blanco;
			position: relative;
			top: 300px;
			width: 400px;
			height: auto;
			min-height: 225px;
			padding: 35px 0 10px 0;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			& > div.valign-wrapper {
				position: relative;
				top: -20px;
			}
			& > div {
				justify-content: center;
				-webkit-justify-content: center;
				img {
					margin: 25px 25px 25px 0;
					width: 80px;
				}
				p {
					font-size: 26px;
					font-family: $font-regular;
				}
			}
			& > .botonera {
				position: relative;
				// top: 60px;
				width: 100%;
				height: auto;
				display: flex;
				display: -webkit-flex;
				justify-content: center;
				-webkit-justify-content: center;
				flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				& > .btn-submenu p {
					margin: 0;
					text-align: center;
				}
			}
		}
		&.cuerpo {
			height: 450px;
			position: absolute;
			display: flex;
			display: -webkit-flex;
			justify-content: center;
			-webkit-justify-content: center;
			align-items: center;
			-webkit-align-items: center;
			top: 115px;
			background-color: transparent;
			.cuerpo-container {
				margin: 0 70px;
				width: 884px;
				height: 450px;
				background-color: $blanco;
				.tab {
					height: 75px;
					overflow: hidden;
					border: none;
					// background-color: $gris-claro;
					& > button {
						font-family: "Muller-Bold";
						text-transform: uppercase;
						width: 50%;
						height: 75px;
						background-color: $gris-claro;
						float: left;
						border: none;
						outline: none;
						cursor: pointer;
						padding: 14px 16px;
						transition: 0.3s;
						color: $blanco;
						&.active {
							background-color: $blanco;
							color: $verde-comafi;
						}
					}
				}
				.tab.login {
					& > button {
						background-color: $verde-comafi;
						&.active {
							background-color: $blanco;
							color: $verde-comafi;
						}
					}
				}
				.tabcontent {
					display: none;
					color: $gris-oscuro;
					padding: 35px 100px 0 100px;
					// border: 1px solid $blanco;
					border-top: none;
					.row {
						height: 70px;
					}
					.cuerpo-slider {
						position: relative;
						top: -15px;
						width: 725px;
						height: 355px;
						overflow: hidden;
						.slider {
							position: relative;
							// top: -25px;
							// height: 345px;
							width: 640px;
							margin: 0 auto;
							overflow: hidden;
							& > .slide {
								position: relative;
								width: inherit;
								height: 300px;
								top: 0px;
								//opacity: 0.5;
								&.active {
									opacity: 1;
								}
							}
							&~a {
								position: absolute;
								right: 5px;
								color: $verde-comafi;
								&.arriba {
									bottom: 234px;
									right: -5px;
									img {
										width: 60px;
									}
								}
								&.abajo {
									bottom: 90px;
									right: -5px;
									img {
										width: 60px;
									}
								}
							}
						}
					}
					.mascara {
						position: absolute;
						bottom: 0px;
						left: 215px;
						width: 58%;
						height: 55px;
						background: rgba(255, 255, 255, 0.50);
					}
					.check.tarjeta {
						top: 197px;
						left: 180px
					}
					.check.ctaRes {
						top: 197px;
						left: 555px
					}
					// label.radio {
					// 	top: -10px;
					// }
				}
				.tabcontent-falsa {
					color: $gris-oscuro;
					padding: 35px 100px 0 100px;
					.row {
						max-height: 70px;
					}
					.check.cta {
						top: 50px;
					}
					.check.cbu {
						top: 192px;
					}
					.check.tarjeta {
						top: 112px;
						left: 180px
					}
					.check.ctaRes {
						top: 112px;
						left: 555px
					}
					label.radio {
						top: -10px;
					}
					.pesosDolares {
						justify-content: space-around;
						-webkit-justify-content: space-around;
						.check {
							&.pesos {
								position: absolute;
								left: 220px;
								top: 233px;
							}
							&.dolares {
								position: absolute;
								left: 560px;
								top: 233px;
							}
						}
					}
				}
				.col-left {
					float: left;
					padding: 20px;
					height: 412px;
					width: calc(50% - 40px);
					& > .sugeridos {
						height: 405px;
						& > .importes {
							margin-top: 25px;
							height: 340px;
							display: flex;
							display: -webkit-flex;
							align-items: center;
							-webkit-align-items: center;
							justify-content: center;
							-webkit-justify-content: center;
							flex-wrap: wrap;
							-webkit-flex-wrap: wrap;
						}
					}
					.row {
						height: 65px;
					}
				}
				.col-right {
					float: right;
					padding: 20px;
					height: 412px;
					width: calc(50% - 41px);
					border-left: $gris-mas-claro 1px solid;
					& > .teclado-numerico {
						width: 400px;
						height: 405px;
						.inputs {
							width: 340px;
							margin: 15px auto;
							input.teclado {
								position: relative;
								top: 0;
								width: 300px;
								height: 60px;
								padding-left: 20px;
							}
							.btn-borrar-teclado {
								width: 70px;
								height: 54px;
								position: relative;
								bottom: 60px;
								left: 248px;
								span.typcn.typcn-backspace {
									left: 15px;
									bottom: 4px;
								}
							}
						}
						.numeros {
							padding: 14px 30px 15px 15px;
							.btn-numerico {
								background-color: $verde-comafi;
							}
						}
					}
					.recordatorio-claves {
						border-radius: 5px;
						border: 1px solid $rojo;
						text-align: center;
						padding: 25px;
						transform: translate(50%, 50%);
						position: relative;
						bottom: 90px;
						left: -50%;
					}
					.row {
						height: 65px;
					}
				}
				.lista-deposito {
					.col-left {
						p {
							color: $gris;
							font-size: 20px;
							span b {
								letter-spacing: -1.5px;
							}
						}
						& > .col-1 {
							position: relative;
							width: 25%;
							margin-left: 65px;
							p {
								margin: 0;
								i {
									font-size: 1.80em;
								}
							}
						}
						& > .col-2 {
							position: relative;
							margin-left: 25px;
							width: auto;
							p {
								font-size: 22px;
								font-weight: bold;
								margin: 5px 0 11px 0;
							}
						}
					}
					.col-right {
						p {
							font-size: 20px;
							font-weight: bold;
							span {
								font-size: 20px;
								b {
									font-size: 20px;
								}
							}
						}
					}
				}
				.id-numerica, .id-alfa {
					width: 480px;
					height: 430px;
					margin: 15px 200px 0 200px;
					background-color: $blanco;
					.dni, .alfa {
						padding-top: 30px;
						justify-content: center;
						-webkit-justify-content: center;
						p {
							color: $gris;
							font-size: 39px;
							margin: 0;
						}
					}
					.input-id {
						margin: 10px;
						border: 2px solid $verde-comafi;
						border-radius: 3px;
						padding: 25px 30px 10px 30px;
						span {
							letter-spacing: -1px;
						}
						&.incorrecta {
							border-color: $rojo;
						}
					}
					.botonera-id {
						height: 315px;
						.btn-id {
							color: $blanco;
							font-size: 38px;
							width: 170px;
							height: 64px;
							background: $gris;
							margin: 15px -10px -5px 50px;
							display: inline-flex;
							display: -webkit-inline-flex;
							flex-wrap: wrap;
							-webkit-flex-wrap: wrap;
							justify-content: center;
							-webkit-justify-content: center;
							p {
								font-size: 38px;
							}
							&.deshabilitado {
								color: $blanco !important;
								background: $gris !important;
								pointer-events: none;
							}
						}
					}
				}
				.img-contenedor {
					width: 550px;
					height: 310px;
					position: relative;
					top: 190px;
					& > img {
						width: 470px;
					}
				}
				.pesosDolares {
					// margin-top: 55px;
					p {
						font-size: 29px;
					}
					.check {
						&.pesos, &.dolares {
							position: relative;
							left: -255px;
							top: 5px;
						}
					}
					label.radio {
						position: relative;
						top: 0px;
						padding-left: 45px;
						margin: 0;
						font-size: 35px;
						&.moneda {
							text-align: left;
							width: 215px;
						}
					}
				}
				.stopDebit {
					margin: -10px 20px;
					font-size: 20px;
					b {
						font-size: 20px;
					}
				}
			}
			.cheque-por-cheque {
				width: 444px;
				height: 435px;
				float: left;
				margin-top: 15px;
				margin-right: 10px;
				background: $blanco;
			}
			.iniciar-sesion {
				margin: 30px 40px;
				justify-content: space-evenly;
				-webkit-justify-content: space-evenly;
			}
			.extraccion {
				width: 590px;
				height: 350px;
				margin: 60px auto;
				& > .extraer {
					& > p {
						text-transform: uppercase;
						font-size: 24px;
						font-family: "Lato-Bold";
						color: $verde-comafi-claro;
						letter-spacing: 1px;
					}
					& > span {
						margin-left: 100px;
						font-size: 47px;
						font-family: "Lato-Bold";
						color: $gris-mas-oscuro;
					}
				}
				& > .cuenta {
					margin-top: 55px;
					& > .flecha {
						z-index: 1;
						color: $blanco;
						background: transparent;
						position: relative;
						top: 0;
						left: 375px;
						font-size: 12px;
						pointer-events: none;
					}
					& > p {
						text-transform: uppercase;
						font-size: 24px;
						font-family: "Lato-Bold";
						color: $verde-comafi-claro;
						letter-spacing: 1px;
					}
					& > .inputs.elegirCuenta {
						position: relative;
						bottom: 5px;
						left: 30px;
						height: 70px;
						width: 375px;
						margin: 0 0 0 10px;
						background-color: $verde-comafi;
						& > .flecha {
							z-index: 1;
							color: $blanco;
							background: transparent;
							position: relative;
							top: 20px;
							left: 335px;
							font-size: 12px;
							pointer-events: none;
						}
						& > select.elegirCuenta {
							position: relative;
							bottom: 28px;
							width: 375px;
							height: 70px;
							color: $blanco;
							background-color: $verde-comafi;
						}
					}
				}
				.comprobante {
					margin-top: 55px;
					p {
						font-size: 29px;
					}
					.check {
						&.si {
							position: absolute;
							top: 375px;
							left: 580px;
						}
						&.no {
							position: absolute;
							left: 715px;
							top: 375px;
						}
					}
					label.radio {
						position: relative;
						top: 0px;
						padding-left: 45px;
						margin: 0;
						font-size: 35px;
					}
				}
			}
		}
	}
	.iniciar-sesion {
		margin: 30px 150px;
		justify-content: space-evenly;
		-webkit-justify-content: space-evenly;
	}
	img.tilde {
		margin-top: 100px;
		margin-bottom: 40px;
		width: 130px;
	}
	img.caritafeliz {
		margin-top: 100px;
		margin-bottom: 40px;
		width: 100px;
	}
	img.retiredinero {
		margin-top: 100px;
		margin-bottom: 30px;
		width: 130px;
	}
	img.cruzroja {
		margin-top: 100px;
		margin-bottom: 40px;
		width: 100px;
	}
	img.claves {
		margin-top: 100px;
		margin-bottom: 30px;
		width: 120px;
	}
	img.logo { //Creo que esta no va mas
		margin-top: 100px;
		margin-bottom: 40px;
		width: 500px;
	}
}

footer {
	position: relative;
	top: 0;
	height: 100px;
	background-color: $verde-comafi;
	padding: 0 70px;
	display: flex;
	display: -webkit-flex;
	// align-items: center;
	// -webkit-align-items: center;
}

/* MODALES */
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	&:target {
		opacity:1;
		pointer-events: auto;
	}
	.close {
		color: $blanco;
		position: absolute;
		top: 25px;
		right: 40px;
		i {
			font-size: 3em;
		}
	}
	&.modal-auto {
		opacity:1;
		pointer-events: auto;
	}
	& > div {
		position: relative;
		padding: 20px;
		background: $blanco;
		// & > .row {
		// 	margin: 15px 50px;
		// 	label {
		// 		top: 0;
		// 	}
		// }
		&.modal-teclado {
			width: 550px;
			height: 570px;
			margin: 100px auto;
			.close {
				right: -175px;
				top: -75px;
				i {
					font-size: 3em;
				}
			}
			.numeros {
				margin: 0 auto;
				width: 400px;
				height: 340px;
				display: flex;
				display: -webkit-flex;
				align-items: center;
				-webkit-align-items: center;
				justify-content: center;
				-webkit-justify-content: center;
				flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				.btn-numerico {
					justify-content: center;
					-webkit-justify-content: center;
					p {
						color: $blanco;
						font-size: 32px;
					}
				}
			}
		}
		&.modal-elegir-cuenta {
			width: 700px !important;
			.modal-action {
				height: 120px;
				width: 100%;
				bottom: -30px;
			}
		}
		&.modal-login {
			& > .row {
				max-height: 70px;
				margin-left: 120px;
				label {
					top: 0;
				}
			}
		}
		& > img {
			position: relative;
			margin-top: 25px;
			&.warning {
				left: calc(50% - 55px);
				width: 110px;
			}
			&.cruzroja,
			&.reloj,
			&.deposito {
				left: calc(50% - 50px);
				width: 100px;
			}
		}
		& > p {
			font-size: 30px;
			color: $gris-mas-oscuro;
			text-align: center;
			margin-top: 15px;
			margin-bottom: 20px;
			letter-spacing: -1px;
			&.monto-maximo {
				font-size: 48px;
				margin: 20px 0 20px 0;
			}
			&.titulo {
				font-size: 25px;
				color: $verde-comafi-claro;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
		.cuenta-no-habilitada p,
		.cuenta-no-habilitada span {
			font-size: 22px;
		}
		.cuenta-no-habilitada p:first-of-type {
			margin-top: 35px;
			font-size: 25px;
		}
		.montos-sugeridos {
			margin: 40px 0 30px 0;
			display: flex;
			display: -webkit-flex;
			justify-content: center;
			-webkit-justify-content: center;
			& > .btn {
				width: 170px;
				height: 65px;
				font-size: 36px;
				margin: 10px 10px 0;
				justify-content: center;
				-webkit-justify-content: center;
				background-color: $verde-comafi;
				color: $blanco;
			}
		}
		.modal-action {
			position: relative;
			width: 840px;
			height: 90px;
			bottom: -20px;
			margin-bottom: 10px;
			display: flex;
			display: -webkit-flex;
			justify-content: center;
			-webkit-justify-content: center;
			align-items: center;
			-webkit-align-items: center;
			.btn-modal {
				height: 60px;
				display: inline-flex;
				display: -webkit-inline-flex;
				border: $gris-oscuro 1px solid;
				&:nth-of-type(1) {
					margin-right: 15px;
				}
				&:nth-of-type(2) {
					margin-left: 15px;
				}
				p {
					padding: 0 15px;
					margin: 0;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-size: 22px;
				}
				i.left {
					padding-left: 10px;
				}
				i.right {
					padding-right: 10px;
				}
			}
		}
		/* TAMAÑO DE MODALES Y SU UBICACIÓN */
		&.chico{
			width: 840px;
			height: auto;
			margin: 215px auto;
		}
		&.mediano {
			width: 840px;
			height: auto;
			margin: 190px auto;
		}
		&.grande {
			width: 840px;
			height: auto;
			margin: 110px auto;
		}
	}
	.cuerpo-slider {
		position: relative;
		width: 100%;
		height: auto;
		min-height: 150px;
		max-height: 315px;
		overflow: hidden;
		top: 40px;
		.slider {
			position: relative;
			//width: 640px;
			height: fit-content;
			margin: 0 auto;
			overflow: hidden;
			.slide {
				position: relative;
				width: 545px;
				//height: 600px;
				height: fit-content;
				top: 0px;
				display: flex;
				display: -webkit-flex;
				flex-flow: wrap;
				-webkit-flex-flow: wrap;
				margin: 0 auto;
				.btn-cuenta-propia{
					width: 250px;
					p {
						margin: 0 auto;
						padding: 0 15px;
					}
				}
			}
		}
		.arriba {
			position: absolute;
			top: 20px;
			right: 15px;
			color: $verde-comafi;
			img {
				width: 60px;
			}
		}
		.abajo {
			position: absolute;
			top: 225px;
			right: 15px;
			color: $verde-comafi;
			img {
				width: 60px;
			}
		}
	}
}

// TECLADO NUMERICO //
.teclado-numerico {
	width: 430px;
	height: 450px;
	margin: 0 auto;
	position: relative;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	.inputs {
		height: 70px;
		input.teclado {
			position: relative;
			top: 0;
			width: 405px;
			height: 64px;
			font-size: 30px;
			color: #636466;
			background-color: $blanco;
			border-color: $gris-mas-oscuro;
			&:focus {
				border-color: $verde-comafi;
				&~.btn-borrar-teclado {
					background-color: $verde-comafi;
				}
			}
			&::-webkit-input-placeholder {
				letter-spacing: -2px;
				font-size: 28px;
				color: $gris-mas-oscuro;
			}
		}
		.btn-borrar-teclado {
			width: 74px;
			height: 58px;
			position: relative;
			bottom: 64px;
			left: 348px;
			color: #fff;
			background-color: $gris;
			display: flex;
			display: -webkit-flex;
			align-items: center;
			-webkit-align-items: center;
			i.material-icons {
				font-size: 40px;
				position: relative;
				left: 15px;
			}
		}
	}
	.numeros {
		padding: 20px;
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		background-color: white;
		justify-content: center;
		-webkit-justify-content: center;
		.btn-numerico {
			font-size: 35px;
			width: 95px;
			height: 58px;
			margin: 9px 8px 8px 8px;
			color: #fff;
			background-color: #9D9FA2;
			justify-content: center;
			-webkit-justify-content: center;
		}
	}
}

/* SPINNER */
.loader {
	position: relative;
	top: 20px;
	left: calc(442px - 55px);
	width: 110px;
	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}
}

h1.spinner {
	text-align: center;
	line-height: 1.3;
	letter-spacing: 1px;
	margin-top: 50px;
	font-size: 35px;
	color: #414042;
	font-family: "Lato-Light";
}

.circular {
	animation: rotate 2s linear infinite;
	-webkit-animation: rotate 2s linear infinite;
	height: 100%;
	transform-origin: center center;
	-webkit-transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	-webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

@keyframes color {
	100%,
	0% {
		stroke: $verde-comafi;
	}
}

@-webkit-keyframes color {
	100%,
	0% {
		stroke: $verde-comafi;
	}
}
