.container {
	height: 768px;
	width: 1024px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

a {text-decoration: none;}

header {
	position: relative;
	top: 0;
	height: 100px;
	background-color: $blanco;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& > img {
		width: 245px;
		margin-left: 50px;
	}
}

main {
	position: relative;
	top: 0;
	height: 568px;
	background-color: $verde-comafi-claro;
	section {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		&.encabezado {
			top: 0;
			height: 100px;
			width: 100%;
		}
		&.menu {
			width: 100%;
			height: 90%;
			margin-top: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
		}
		&.cuerpo {
			top: 100px;
			// width: 100%;
			background-color: transparent;
			.cuerpo-container {
				margin: 0 50px;
				width: 924px;
				height: 443px;
				background-color: $blanco;
				.tab {
					overflow: hidden;
					border: none;
					background-color: $gris-claro;
					& > button {
						font-family: "Muller-Regular";
						width: 50%;
						background-color: inherit;
						float: left;
						border: none;
						outline: none;
						cursor: pointer;
						padding: 14px 16px;
						transition: 0.3s;
						color: $gris-oscuro;
						&:first-child {
							border-right: 3px solid $verde-comafi;
						}
						&:hover {
							background-color: $gris;
						}
						&.active {
							background-color: $blanco;
							color: $verde-comafi;
						}
					}
				}
				.tabcontent {
					display: none;
					color: $gris-oscuro;
					padding: 75px 100px 0 100px;
					border: 1px solid $blanco;
					border-top: none;
				}
				.col-left {
					float: left;
					padding: 20px;
					height: calc(100% - 40px);
					width: calc(50% - 40px);
					& > .sugeridos {
						height: 400px;
						& > .importes {
							height: 340px;
							display: flex;
							align-items: center;
							justify-content: center;
							flex-wrap: wrap;
						}
					}
				}
				.col-right {
					float: right;
					padding: 20px;
					height: calc(100% - 40px);
					width: calc(50% - 40px);
				}
			}
		}
	}
}

footer {
	position: relative;
	top: 0;
	height: 100px;
	background-color: $verde-comafi;
	padding: 0 50px;
	display: flex;
	align-items: center;
}