.tabcontent {
	& > .row.centrado.flex {
		justify-content: space-between;
	}
	& > .row:nth-child(2) {
		margin-top: 20px;
		& > .inputs {
			input[type="password"] {
				margin-top: 10px;
			    width: -webkit-fill-available;
			}
		}
	}
}