.tabcontent {
	& > .row.centrado.flex {
		justify-content: space-between;
    -webkit-justify-content: space-between;
  }
  .ingreseTarjeta {
    width: 100px;
    position: absolute;
    top: 207px;
  }
}

.msj-tutorial {
  position: relative;
  top: 39px;
  text-align: center;
  font-size: 19px;
  line-height: 0.9;
  font-weight: bold;
  color: $gris;
}

/* Depósito Efectivo */
input[type=radio]:checked ~ .inputs.numCbu > input.numCbu {
  border-color: $verde-comafi;
}

input[type=radio]:checked ~ .inputs.tipoCta > select.tipoCta {
  border-color: $verde-comafi;
}

input[type=radio]:checked ~ .inputs.numCta > input.numCta {
  border-color: $verde-comafi;
}
