// Definición de tipografía
// --------------------------------------------------
* {
	font-family: "Lato-Regular";
	font-size: 24px;
}


// MULLER FONT
@font-face {
	font-family: 'Muller-Regular';
	src: url('../fonts/muller/MULLERREGULAR_1.ttf');
	src: url('../fonts/muller/MULLERREGULAR_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Muller-Light';
	src: url('../fonts/muller/MULLERLIGHT_1.ttf');
	src: url('../fonts/muller/MULLERLIGHT_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Muller-Bold';
	src: url('../fonts/muller/MULLERBOLD_1.ttf');
	src: url('../fonts/muller/MULLERBOLD_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Muller-ExtraBold';
	src: url('../fonts/muller/MULLEREXTRABOLD_1.ttf');
	src: url('../fonts/muller/MULLEREXTRABOLD_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// LATO FONT
@font-face {
	font-family: 'Lato-Regular';
	src: url('../fonts/lato/Lato-Regular.ttf');
	src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Black';
	src: url('../fonts/lato/Lato-Black.ttf');
	src: url('../fonts/lato/Lato-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Bold';
	src: url('../fonts/lato/Lato-Bold.ttf');
	src: url('../fonts/lato/Lato-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Light';
	src: url('../fonts/lato/Lato-Light.ttf');
	src: url('../fonts/lato/Lato-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.font-regular {font-family: $font-regular;}
.font-light {font-family: $font-light;}
.font-bold {font-family: $font-bold;}
.font-black {font-family: $font-black;}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.interlineado {
	line-height: 1.3;
}

.mayus {
	text-transform: uppercase;
}

.titulo {
	font-family: $font-light;
	font-size: 27px;
	color: $blanco;
	letter-spacing: 1px;
}

.titulo-grande {
	font-size: 33px;
	font-weight: bold;
}

p {font-size: 26px;}

.espaciado-1 {
	letter-spacing: 1px;
}

.espaciado-2 {
	letter-spacing: 2px;
}

.espaciado-neg-2 {
	letter-spacing: -2px;
}

.espaciado-neg-1 {
	letter-spacing: -1px;
}

.espaciado-neg-05 {
	letter-spacing: -0.5px;
}



a.link {
	color: inherit;
	text-decoration: none;
}
