// Variables de Branding
// --------------------------------------------------

// Colores

$verde-comafi: #6B8012;
$verde-comafi-claro: #6B8912;
$gris-claro: #DCDDDE;
$gris: #9D9FA2;
$gris-oscuro: #636466;
$gris-mas-oscuro: #414042;
$blanco: #fff;

// $verde-claro: #6A8810;
// $verde-oscuro: #4E6B00;
$rojo: #BD222D;


$tabla_de_colores: (
  "verde-comafi" : $verde-comafi,
  "verde-comafi-claro" : $verde-comafi-claro,
  "gris-claro" : $gris-claro,
  "gris": $gris,
  "gris-oscuro" : $gris-oscuro,
  "gris-mas-oscuro" : $gris-mas-oscuro,
  "blanco": $blanco,
  // "verde-claro": $verde-claro,
  // "verde-oscuro": $verde-oscuro,
  "rojo": $rojo,
) !default; 

@each $color in $tabla_de_colores {
  .#{nth($color,1)} {
    background-color: #{nth($color,2)} !important;
  }
  .#{nth($color,1)}-text {
    color: #{nth($color,2)} !important;
  } 
}

//TIPOGRAFIAS
$font-regular: "Muller-Regular";
$font-light: "Muller-Light";
$font-bold: "Muller-Bold";
$font-extrabold: "Muller-ExtraBold";