// Variables de Branding
// --------------------------------------------------

// Colores

$verde-comafi: #596B19;
$verde-comafi-claro: #748327;
$gris-mas-claro: #EFEFEF;
$gris-claro: #DCDDDE;
$gris: #9D9FA2;
$gris-oscuro: #636466;
$gris-mas-oscuro: #414042;
$blanco: #fff;

// $verde-claro: #6A8810;
// $verde-oscuro: #4E6B00;
$rojo: #BD222D;
$verde: #55d555;
$transparente: transparent;


$tabla_de_colores: (
  "verde-comafi" : $verde-comafi,
  "verde-comafi-claro" : $verde-comafi-claro,
  "gris-mas-claro" : $gris-mas-claro,
  "gris-claro" : $gris-claro,
  "gris": $gris,
  "gris-oscuro" : $gris-oscuro,
  "gris-mas-oscuro" : $gris-mas-oscuro,
  "blanco": $blanco,
  "rojo": $rojo,
  "verde": $verde,
  "transparente": $transparente,

) !default;

@each $color in $tabla_de_colores {
  .#{nth($color,1)} {
    background-color: #{nth($color,2)} !important;
  }
  .#{nth($color,1)}-text {
    color: #{nth($color,2)} !important;
  }
  .#{nth($color,1)}-border {
    border-color: #{nth($color,2)} !important;
  }
}

// TABLA DE MARGENES
@for $mg from 0 through 300 {
  .mg-#{$mg} {margin: #{$mg}px !important;}
  .mg-l-#{$mg} {margin-left: #{$mg}px !important;}
  .mg-r-#{$mg} {margin-right: #{$mg}px !important;}
  .mg-t-#{$mg} {margin-top: #{$mg}px !important;}
  .mg-b-#{$mg} {margin-bottom: #{$mg}px !important;}
}

//TIPOGRAFIAS
$font-regular: "Lato-Regular";
$font-light: "Lato-Light";
$font-bold: "Lato-Bold";
$font-black: "Lato-Black";


.centrado {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.invisible {
  visibility: hidden;
}

.deshabilitado {
  pointer-events: none;
  color: $gris !important;
  background-color: $gris-claro !important;
  span {
    color: $gris !important;
  }
}

.no-click {
  pointer-events: none;
}

.valign-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
